<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782036664664-kph0gqqt6q5qpgs511pqq85ri2rpfoao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782036664664-kph0gqqt6q5qpgs511pqq85ri2rpfoao</string>
	<key>API_KEY</key>
	<string>AIzaSyDjmyHiQ_K7tCQqZjWVq-mRQXNvJ0uOiBs</string>
	<key>GCM_SENDER_ID</key>
	<string>782036664664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.welcomeToSoda</string>
	<key>PROJECT_ID</key>
	<string>welcome-to-soda</string>
	<key>STORAGE_BUCKET</key>
	<string>welcome-to-soda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782036664664:ios:89680d81dd02a5111d652d</string>
</dict>
</plist>